<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>

    <div class="mb-6 pb-6 border-b border-[#d2d6db]">
      <h3 class="text-[#1f2a37] font-[600] mb-6 text-lg sm:text-xl">تفاصيل الوردية</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
        <div>
          <span class="text-[#6c737f] text-sm">مدة الوردية</span>
          <h5 class="text-[#161616] text-base font-medium">8 ساعات</h5>
        </div>
        <div>
          <span class="text-[#6c737f] text-sm">نوع الوردية</span>
          <h5 class="text-[#161616] text-base font-medium">مرنة</h5>
        </div>
      </div>
      <h3 class="text-[#1f2a37] font-[600] mb-4 text-lg sm:text-xl">الحضور</h3>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4 p-6 rounded-2xl bg-[#f3f4f6]"
      >
        <div>
          <span class="text-[#6c737f] text-sm">وقت الحضور</span>
          <h5 class="text-[#161616] text-base font-medium">06:00 ص</h5>
        </div>
        <div>
          <span class="text-[#6c737f] text-sm">مدة السماح قبل الحضور (دق)</span>
          <h5 class="text-[#161616] text-base font-medium">15</h5>
        </div>
        <div>
          <span class="text-[#6c737f] text-sm">مدة السماح بعد الحضور (دق)</span>
          <h5 class="text-[#161616] text-base font-medium">10</h5>
        </div>
      </div>
      <h3 class="text-[#1f2a37] font-[600] mb-4 text-lg sm:text-xl">الانصراف</h3>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-6 rounded-2xl bg-[#f3f4f6]"
      >
        <div>
          <span class="text-[#6c737f] text-sm">وقت الانصراف</span>
          <h5 class="text-[#161616] text-base font-medium">06:00 ص</h5>
        </div>
        <div>
          <span class="text-[#6c737f] text-sm">مدة السماح قبل الانصراف (دق)</span>
          <h5 class="text-[#161616] text-base font-medium">15</h5>
        </div>
        <div>
          <span class="text-[#6c737f] text-sm">مدة السماح بعد الانصراف (دق)</span>
          <h5 class="text-[#161616] text-base font-medium">10</h5>
        </div>
      </div>
    </div>
    <h3 class="text-[#1f2a37] font-[600] mb-4 text-lg sm:text-xl">
      {{ 'MY_SHIFTS.SHIFT_DAYS' | translate }}
    </h3>
    <div class="mt-6">
      <ul class="flex items-center gap-4 flex-wrap">
        @if (displayDays && displayDays.length > 0) {
          @for (day of displayDays; track day.value) {
            <li
              class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium"
            >
              {{ getDayLabel(day.labelKey) }}
            </li>
          }
        } @else {
          <li
            class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium"
          >
            {{ 'MY_SHIFTS.NO_DAYS_SELECTED' | translate }}
          </li>
        }
      </ul>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </div>
  </div>
</div>
