<div [dir]="direction">
    <div class="p-6">
        <button (click)="close()" class="block ms-auto">
            <i class="pi pi-times close-popup"></i>
        </button>
        <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
            {{
            (isCreateMode
            ? 'إضافة نوع اجازة جديد'
            : 'تعديل نوع الاجازة'
            )
            }}
        </h3>
        <form class="mt-6">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                <div>
                    <label class="label" for="nameAr-popup">
                        <span class="text-[#b42318] font-[600]">*</span>
                        اسم نوع الاجازة بالعربية
                    </label>
                    <div class="relative">
                        <input class="peer w-full" fluid="true" id="nameAr-popup" pInputText
                            placeholder="اسم نوع الاجازة بالعربية" type="text" />
                        <span
                            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                    </div>
                </div>
                <div>
                    <label class="label" for="nameEn-popup">
                        <span class="text-[#b42318] font-[600]">*</span>
                        اسم نوع الاجازة بالانجليزية
                    </label>
                    <div class="relative">
                        <input class="peer w-full" fluid="true" id="nameEn-popup" pInputText
                            placeholder="اسم نوع الاجازة بالانجليزية" type="text" />
                        <span
                            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                    </div>
                </div>
            </div>

            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <label class="label mb-3 block">
                    <span class="text-[#b42318] font-[600]">*</span>
                    <strong class="font-bolc text-lg">
                        هل تتطلب هذه الإجازة موافقة؟
                    </strong>
                </label>
                <div class="flex flex-wrap gap-8">
                    <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
                        <input
                            class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                            type="checkbox" />
                        <svg class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" viewBox="0 0 24 24">
                            <polyline points="20 6 9 17 4 12" />
                        </svg>
                        <span class="text-base text-[#1f2a37]">مدير الادارة</span>
                    </label>

                    <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
                        <input
                            class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                            type="checkbox" />
                        <svg class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" viewBox="0 0 24 24">
                            <polyline points="20 6 9 17 4 12" />
                        </svg>
                        <span class="text-base text-[#1f2a37]">الموارد البشرية</span>
                    </label>
                </div>
            </div>

            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <div class="mb-6">
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            هل لهذه الإجازة رصيد سنوي؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes1">
                            نعم
                            <input type="radio" id="countHolidays-yes1" name="countHolidaysAndWeekends1" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no1">
                            لا
                            <input type="radio" id="countHolidays-no1" name="countHolidaysAndWeekends1" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid md:grid-cols-3 gap-4 mb-6">
                    <div>
                        <label class="label" for="before-attendance-time">
                            <span class="text-[#b42318] font-[600]">*</span> الرصيد السنوي
                        </label>
                        <p-inputnumber [inputStyle]="{ width: '3rem' }" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                    </div>
                </div>
                <div class="mb-6">
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            هل يمكن ترحيل الإجازة من سنة لاخري؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes2">
                            نعم
                            <input type="radio" id="countHolidays-yes2" name="countHolidaysAndWeekends2" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no2">
                            لا
                            <input type="radio" id="countHolidays-no2" name="countHolidaysAndWeekends2" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <div class="mb-6">
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            هل يمكن التقديم عليها أكثر من مرة خلال فترة الخدمة (لها عدد محدود) ؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes3">
                            نعم
                            <input type="radio" id="countHolidays-yes3" name="countHolidaysAndWeekends3" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no3">
                            لا
                            <input type="radio" id="countHolidays-no3" name="countHolidaysAndWeekends3" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid md:grid-cols-3 gap-4 mb-6">
                    <div>
                        <label class="label" for="before-attendance-time">
                            <span class="text-[#b42318] font-[600]">*</span> عدد مرات القيام بها في مدة الخدمة
                        </label>
                        <p-inputnumber [inputStyle]="{ width: '3rem' }" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                    </div>
                </div>
            </div>



            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <div class="mb-6">
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            هل يسمح بالتقديم بالتقديم بطلب إجازة امدة نصف يوم ؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes">
                            نعم
                            <input type="radio" id="countHolidays-yes" name="countHolidaysAndWeekends" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no">
                            لا
                            <input type="radio" id="countHolidays-no" name="countHolidaysAndWeekends" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <label class="label mb-3 block">
                    <span class="text-[#b42318] font-[600]">*</span>
                    <strong class="font-bolc text-lg">
                        ما نطاق فترة التقديم المتاحة له>ه الاجازة؟
                    </strong>
                </label>
                <div class="flex flex-wrap gap-8">
                    <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
                        <input
                            class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                            type="checkbox" />
                        <svg class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" viewBox="0 0 24 24">
                            <polyline points="20 6 9 17 4 12" />
                        </svg>
                        <span class="text-base text-[#1f2a37]">يمكن التقديم بتاريخ سابق</span>
                    </label>

                    <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
                        <input
                            class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                            type="checkbox" />
                        <svg class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" viewBox="0 0 24 24">
                            <polyline points="20 6 9 17 4 12" />
                        </svg>
                        <span class="text-base text-[#1f2a37]">يمكن التقديم بتاريخ اليوم</span>
                    </label>
                    <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
                        <input
                            class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                            type="checkbox" />
                        <svg class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                            fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" viewBox="0 0 24 24">
                            <polyline points="20 6 9 17 4 12" />
                        </svg>
                        <span class="text-base text-[#1f2a37]">يمكن التقديم بتاريخ في المستقبل</span>
                    </label>
                </div>
            </div>

            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <div class="mb-6">
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            هل يمكن التقديم على هذه الإجازة بتاريخ سابق في الماضي؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes4">
                            نعم
                            <input type="radio" id="countHolidays-yes4" name="countHolidaysAndWeekends4" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no4">
                            لا
                            <input type="radio" id="countHolidays-no4" name="countHolidaysAndWeekends4" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <div class="mb-6">
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            من يمكنه التقديم على هذه الإجازة؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes5">
                            الذكور
                            <input type="radio" id="countHolidays-yes5" name="countHolidaysAndWeekends5" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no5">
                            الإناث
                            <input type="radio" id="countHolidays-no5" name="countHolidaysAndWeekends5" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-both5">
                            كلاهما (الذكور و الإناث)
                            <input type="radio" id="countHolidays-both5" name="countHolidaysAndWeekends5"
                                [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid md:grid-cols-3 gap-4 mb-6">
                    <div>
                        <label class="label" for="before-attendance-time">
                            <span class="text-[#b42318] font-[600]">*</span> الحد الأدنى للخبرة المطلوبة للاجازة (عدد
                            السنين)
                        </label>
                        <p-inputnumber [inputStyle]="{ width: '3rem' }" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                    </div>
                    <div>
                        <label class="label" for="before-attendance-time">
                            <span class="text-[#b42318] font-[600]">*</span> الحد الأدنى للخبرة المطلوبة للاجازة (عدد
                            الشهور)
                        </label>
                        <p-inputnumber [inputStyle]="{ width: '3rem' }" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                    </div>
                    <div>
                        <label class="label" for="before-attendance-time">
                            <span class="text-[#b42318] font-[600]">*</span> الحد الادنى للعمر
                        </label>
                        <p-inputnumber [inputStyle]="{ width: '3rem' }" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                    </div>
                </div>
            </div>

            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <div class="mb-6">
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            هل تُحتسب العطلات الرسمية ونهاية الأسبوع ضمن أيام الإجازة في حال وقوعها أثناء فترة الإجازة؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes7">
                            نعم
                            <input type="radio" id="countHolidays-yes7" name="countHolidaysAndWeekends7" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no7">
                            لا
                            <input type="radio" id="countHolidays-no7" name="countHolidaysAndWeekends7" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
                <div class="grid md:grid-cols-3 gap-4 mb-6">
                    <div>
                        <label class="label" for="before-attendance-time">
                            <span class="text-[#b42318] font-[600]">*</span> الحد الاقصى لعدد الايام المتتالية للاجازة
                        </label>
                        <p-inputnumber [inputStyle]="{ width: '3rem' }" [showButtons]="true" buttonLayout="horizontal"
                            spinnerMode="horizontal">
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                    </div>
                </div>
            </div>
            <div class=" mt-6 pt-6 border-t border-[#d2d6db] grid grid-cols-1 lg:grid-cols-2 لشح)6">

                <div>
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            ما هي الفئة الدينية المتسحقة لهذه الاجازة
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes6">
                            مسلم
                            <input type="radio" id="countHolidays-yes6" name="countHolidaysAndWeekends6" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no6">
                            مسيحي
                            <input type="radio" id="countHolidays-no6" name="countHolidaysAndWeekends6" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no6">
                            الجميع
                            <input type="radio" id="countHolidays-no6" name="countHolidaysAndWeekends6" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="label mb-3 block">
                        <span class="text-[#b42318] font-[600]">*</span>
                        <strong class="font-bolc text-lg">
                            هل تتطلب هذه الإجازة إرفاق مستند/مرفق؟
                        </strong>
                    </label>
                    <div class="flex flex-wrap gap-8">
                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-yes6">
                            نعم
                            <input type="radio" id="countHolidays-yes6" name="countHolidaysAndWeekends6" [value]="true"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>

                        <label class="relative flex flex-row-reverse items-center cursor-pointer gap-4 justify-between"
                            for="countHolidays-no6">
                            لا
                            <input type="radio" id="countHolidays-no6" name="countHolidaysAndWeekends6" [value]="false"
                                class="peer appearance-none h-6 w-6 cursor-pointer rounded-full border border-[#64748b] checked:border-[#22a06b] transition-all" />
                            <span
                                class="absolute bg-[#1b8354] w-4 h-4 rounded-full opacity-0 peer-checked:opacity-100 transform top-[50%] start-1 -translate-y-1/2">
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="mt-6 pt-6 border-t border-[#d2d6db]">
                <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
                    <input
                        class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                        type="checkbox" />
                    <svg class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                        fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="3" viewBox="0 0 24 24">
                        <polyline points="20 6 9 17 4 12" />
                    </svg>
                    <span class="text-base text-[#1f2a37]">مفعل</span>
                </label>
            </div>

            <div class="actions mt-6 flex items-center justify-end gap-4">
                <button (click)="close()" class="btn gray-btn">إلغاء</button>
                <button (click)="save()" class="btn green-btn">
                    اضافة
                </button>
            </div>
        </form>
    </div>
</div>