<div #employeeContainer class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <a [routerLink]="item.url" class="cursor-pointer">
            <span>{{ item.label | translate }}</span>
          </a>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'LEAVE_TYPES_PAGE.LEAVE_TYPES' | translate }}
      </h3>
    </div>
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'COMMON.SEARCH_FILTERS' | translate }}
          </h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            <div class="relative">
              <label class="label" for="nameAr">{{
                'LEAVE_TYPES_PAGE.LEAVE_TYPE_NAME_AR' | translate
              }}</label>
              <input
                [(ngModel)]="filterModel.nameAr"
                placeholder="{{ 'LEAVE_TYPES_PAGE.LEAVE_TYPE_NAME_AR' | translate }}"
                class="peer"
                fluid="true"
                id="nameAr"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <div class="relative">
              <label class="label" for="nameEn">{{
                'LEAVE_TYPES_PAGE.LEAVE_TYPE_NAME_EN' | translate
              }}</label>
              <input
                placeholder="{{ 'LEAVE_TYPES_PAGE.LEAVE_TYPE_NAME_EN' | translate }}"
                class="peer"
                fluid="true"
                id="nameEn"
                [(ngModel)]="filterModel.nameEn"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="leaveStatus">
                {{ 'LEAVE_TYPES_PAGE.ACTIVATION_STATUS' | translate }}</label
              >
              <p-select
                [(ngModel)]="filterModel.isActive"
                [optionLabel]="optionLabel"
                [options]="leaveTypeStatusOptions"
                [placeholder]="'LEAVE_TYPES_PAGE.ACTIVATION_STATUS' | translate"
                [showClear]="true"
                class="w-full peer"
                id="leaveStatus"
                name="leaveStatus"
                optionValue="id"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button (click)="search()" class="btn black-btn">
              {{ 'COMMON.SEARCH' | translate }}
            </button>
            <button (click)="resetSearch()" class="btn gray-btn border border-[#d2d6db]">
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'LEAVE_TYPES_PAGE.LEAVE_TYPES' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button
              (click)="exportExcel('leave types.xlsx')"
              class="table-head-action-btn min-w-[40px]"
            >
              <img alt="" src="assets/icons/excel.svg" />
            </button>

            <button (click)="addOrEditModel()" class="btn green-btn flex items-center">
              <img alt="" src="assets/icons/plus.svg" />
              <span>{{ 'LEAVE_TYPES_PAGE.ADD_NEW_LEAVE_TYPE' | translate }}</span>
            </button>
          </div>
        </div>
        <div>
          @if (list && list.length > 0) {
            <p-table
              [value]="list"
              [rows]="paginationInfo.pageSize"
              [first]="(paginationInfo.currentPage - 1) * paginationInfo.pageSize"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ 'LEAVE_TYPES_PAGE.LEAVE_TYPE_NAME_AR' | translate }}</th>
                  <th>{{ 'LEAVE_TYPES_PAGE.LEAVE_TYPE_NAME_EN' | translate }}</th>
                  <th>{{ 'LEAVE_TYPES_PAGE.BALANCE_DAYS_COUNT' | translate }}</th>
                  <th>{{ 'LEAVE_TYPES_PAGE.MAX_CONSECUTIVE_DAYS' | translate }}</th>
                  <th>{{ 'LEAVE_TYPES_PAGE.ACTIVATION_STATUS' | translate }}</th>
                  <th class="w-[36px] whitespace-nowrap">{{ 'COMMON.ACTION' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-leave let-rowIndex="rowIndex">
                <tr>
                  <td
                    [title]="leave.nameAr"
                    class="max-w-[400px] whitespace-nowrap overflow-hidden text-ellipsis"
                  >
                    {{ leave.nameAr }}
                  </td>
                  <td
                    [title]="leave.nameEn"
                    class="max-w-[400px] whitespace-nowrap overflow-hidden text-ellipsis"
                  >
                    {{ leave.nameEn }}
                  </td>
                  <td>{{ leave.annualBalance }}</td>
                  <td class="max-w-[400px] whitespace-nowrap overflow-hidden text-ellipsis">
                    {{ leave.continuousDaysLimit }}
                  </td>
                  <td>
                    <div class="flex justify-center gap-2">
                      @if (leave.isActive) {
                        <img src="assets/icons/right-icon.svg" alt="" />
                      } @else {
                        <img src="assets/icons/wrong-icon.svg" alt="" />
                      }
                    </div>
                  </td>
                  <td>
                    <div class="flex gap-4">
                      <button
                        (click)="openDialog(leave)"
                        class="table-action-gray-btn flex align-items gap-4"
                      >
                        <img src="assets/icons/edit-action.svg" alt="" />
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          } @else {
            <div class="flex items-center justify-center h-64">
              <p class="text-gray-500">{{ 'HOLIDAYS_PAGE.NO_DATA_TO_SHOW' | translate }}</p>
            </div>
          }
          @if (paginationInfo) {
            <p-paginator
              (onPageChange)="onPageChange($event)"
              [first]="first"
              [rowsPerPageOptions]="[10, 20, 30]"
              [rows]="rows"
              [showCurrentPageReport]="false"
              [totalRecords]="paginationInfo.totalItems"
              class="mt-6"
            />
          }
        </div>
      </div>
    </div>
  </div>
</div>
