<div class="bg-white my-shifts">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <a [routerLink]="item.url" class="cursor-pointer">
            <span>{{ item.label | translate }}</span>
          </a>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'MY_SHIFTS.MY_SHIFTS' | translate }}
      </h3>
    </div>

    <!-- Current Shift Section -->

    <div class="mb-6">
      <p-accordion [value]="'0'">
        <p-accordion-panel value="0">
          <p-accordion-header>
            <div class="flex items-center gap-4 justify-between flex-wrap bg-[#074d31] flex-1 me-4">
              <h5
                class="min-w-[152px] min-h-[32px] flex flex-row justify-center items-center px-3 rounded-full border border-[#e5e7eb] bg-[#f9fafb] text-[#1f2a37] text-[16px] font-medium"
              >
                {{ getCurrentShiftName() }}
              </h5>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <div class="bg-[#074d31] py-6 border-t border-[#f3f4f6]">
              <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
                <div>
                  <p class="text-sm text-white mb-2">
                    {{ 'MY_SHIFTS.SHIFT_DURATION' | translate }}
                  </p>
                  <h5 class="text-base font-semibold text-white">
                    {{ currentShift?.shiftDuration }}
                  </h5>
                </div>
                <div>
                  <p class="text-sm text-white mb-2">{{ 'MY_SHIFTS.SHIFT_TYPE' | translate }}</p>
                  <h5 class="text-base font-semibold text-white">
                    {{
                      (currentShift?.isFlexibleShift ? 'MY_SHIFTS.FLEXIBLE' : 'MY_SHIFTS.FIXED')
                        | translate
                    }}
                  </h5>
                </div>
                <div>
                  <p class="text-sm text-white mb-2">{{ 'MY_SHIFTS.BOUNDARY_TIME' | translate }}</p>
                  <h5 class="text-base font-semibold text-white">
                    {{ formatTime(currentShift?.boundaryTime) }}
                  </h5>
                </div>
              </div>
              <div
                class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 mt-4 bg-[#ffffff19] rounded-lg p-4"
              >
                <div>
                  <p class="text-sm text-white mb-2">{{ 'MY_SHIFTS.START_TIME' | translate }}</p>
                  <h5 class="text-base font-semibold text-white">
                    {{ currentShift?.formattedTimeFrom }}
                  </h5>
                </div>
                <div>
                  <p class="text-sm text-white mb-2">
                    {{ 'MY_SHIFTS.ALLOWED_MINUTES_BEFORE_ATTENDANCE' | translate }}
                  </p>
                  <h5 class="text-base font-semibold text-white">
                    {{ currentShift?.startAttendanceBuffer || '0' }}
                  </h5>
                </div>
                <div>
                  <p class="text-sm text-white mb-2">
                    {{ 'MY_SHIFTS.ALLOWED_MINUTES_AFTER_ATTENDANCE' | translate }}
                  </p>
                  <h5 class="text-base font-semibold text-white">
                    {{ currentShift?.endAttendanceBuffer || '0' }}
                  </h5>
                </div>
              </div>
              <div
                class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 mt-4 bg-[#ffffff19] rounded-lg p-4"
              >
                <div>
                  <p class="text-sm text-white mb-2">{{ 'MY_SHIFTS.END_TIME' | translate }}</p>
                  <h5 class="text-base font-semibold text-white">
                    {{ currentShift?.formattedTimeTo }}
                  </h5>
                </div>
                <div>
                  <p class="text-sm text-white mb-2">
                    {{ 'MY_SHIFTS.ALLOWED_MINUTES_BEFORE_LEAVE' | translate }}
                  </p>
                  <h5 class="text-base font-semibold text-white">
                    {{ currentShift?.startLeaveBuffer || '0' }}
                  </h5>
                </div>
                <div>
                  <p class="text-sm text-white mb-2">
                    {{ 'MY_SHIFTS.ALLOWED_MINUTES_BEFORE_LEAVE' | translate }}
                  </p>
                  <h5 class="text-base font-semibold text-white">
                    {{ currentShift?.endLeaveBuffer || '0' }}
                  </h5>
                </div>
              </div>
              <div class="flex items-center gap-4 mt-4">
                <span class="text-sm text-white">{{
                  'MY_SHIFTS.SHIFT_WORK_DAYS' | translate
                }}</span>
                <div class="flex gap-4 items-center flex-wrap">
                  <ul class="flex items-center gap-4 flex-wrap">
                    @if (displayDays && displayDays.length > 0) {
                      @for (day of displayDays; track day.value) {
                        <li
                          class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium"
                        >
                          {{ getDayLabel(day.labelKey) }}
                        </li>
                      }
                    } @else {
                      <li
                        class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium"
                      >
                        {{ 'MY_SHIFTS.NO_DAYS_SELECTED' | translate }}
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>

    <!-- Shifts List Section -->
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <!-- Filter Section -->
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'COMMON.SEARCH_FILTERS' | translate }}
          </h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-6 gap-6">
            <div class="relative xl:col-span-3">
              <label class="label" for="shiftName">{{ 'MY_SHIFTS.NAME_ARABIC' | translate }}</label>
              <input
                [(ngModel)]="filterOptions.nameAr"
                class="peer"
                fluid="true"
                id="shiftName"
                pInputText
                [placeholder]="'MY_SHIFTS.NAME_ARABIC' | translate"
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative xl:col-span-3">
              <label class="label" for="shiftType">{{ 'MY_SHIFTS.SHIFT_TYPE' | translate }}</label>
              <input
                [(ngModel)]="filterOptions.nameEn"
                class="peer"
                fluid="true"
                id="shiftType"
                pInputText
                [placeholder]="'MY_SHIFTS.SHIFT_TYPE' | translate"
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative xl:col-span-2">
              <label class="label" for="attendance-department-popup">
                {{ 'WORK_SHIFTS.SHIFT_TYPE' | translate }}
              </label>
              <div class="relative">
                <p-select
                  [(ngModel)]="filterModel.isFlexibleShift"
                  [options]="shiftTypes"
                  class="w-full peer"
                  optionLabel="label"
                  optionValue="value"
                  [placeholder]="'MY_SHIFTS.SHIFT_TYPE' | translate"
                  [showClear]="true"
                ></p-select>
                <span
                  class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                ></span>
              </div>
            </div>
            <div class="relative xl:col-span-2">
              <label class="label" for="dateFrom">{{ 'MY_SHIFTS.START_DATE' | translate }}</label>
              <p-datepicker
                [(ngModel)]="filterOptions.startDate"
                [iconDisplay]="'input'"
                [showIcon]="true"
                [maxDate]="endDate"
                class="peer block w-full"
                inputId="dateFrom"
                [placeholder]="'MY_SHIFTS.START_DATE' | translate"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative xl:col-span-2">
              <label class="label" for="dateTo">{{ 'MY_SHIFTS.END_DATE' | translate }}</label>
              <p-datepicker
                [(ngModel)]="filterOptions.endDate"
                [iconDisplay]="'input'"
                [minDate]="startDate"
                [showIcon]="true"
                class="peer block w-full"
                inputId="dateTo"
                [placeholder]="'MY_SHIFTS.END_DATE' | translate"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button (click)="onSearch()" class="btn black-btn disabled:opacity-50">
              <span>{{ 'COMMON.SEARCH' | translate }}</span>
            </button>
            <button
              (click)="onResetFilters()"
              class="btn gray-btn border border-[#d2d6db] disabled:opacity-50"
            >
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Table Section -->
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'MY_SHIFTS.ASSIGNED_SHIFTS_LIST' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button (click)="onExportExcel()" class="table-head-action-btn min-w-[40px]">
              <img alt="تصدير إلى Excel" src="assets/icons/excel.svg" />
            </button>
          </div>
        </div>

        <!-- Table -->
        @if (employeeShifts && employeeShifts.length > 0) {
          <p-table [value]="employeeShifts">
            <ng-template #header>
              <tr>
                <th>{{ 'MY_SHIFTS.NAME_ARABIC' | translate }}</th>
                <th>{{ 'MY_SHIFTS.NAME_ENGLISH' | translate }}</th>
                <th>{{ 'MY_SHIFTS.SHIFT_TYPE' | translate }}</th>
                <th>{{ 'MY_SHIFTS.DATE_RANGE_PLACEHOLDER' | translate }}</th>
                <th>{{ 'MY_SHIFTS.OFFICIAL_WORKING_TIME_FROM_TO' | translate }}</th>
                <th>{{ 'COMMON.ACTION' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template #body let-shift>
              <tr>
                <td>{{ shift.nameAr }}</td>
                <td>{{ shift.nameEn }}</td>
                <td>
                  {{
                    (shift.isFlexibleShift ? 'MY_SHIFTS.FLEXIBLE' : 'MY_SHIFTS.FIXED') | translate
                  }}
                </td>
                <td>
                  {{ shift.startDate | date: 'dd/MM/yyyy' }} -
                  {{ shift.endDate | date: 'dd/MM/yyyy' }}
                </td>
                <td>{{ shift.formattedTimeFrom }} - {{ shift.formattedTimeTo }}</td>
                <td>
                  <button
                    class="table-action-gray-btn gap-1 !min-w-[146px] !px-6"
                    (click)="openDialog(shift)"
                  >
                    <img src="/assets/icons/view.svg" alt="عرض" />
                    {{ 'MY_SHIFTS.SHIFT_DETAILS' | translate }}
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <div class="flex items-center justify-center h-64">
            <p class="text-gray-500">{{ 'COMMON.NO_DATA_TO_SHOW' | translate }}</p>
          </div>
        }
        <!-- Pagination -->
        @if (paginationInfo) {
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rowsPerPageOptions]="[10, 20, 30]"
            [rows]="rows"
            [totalRecords]="getTotalRecords()"
            class="mt-6"
          />
        }
      </div>
    </div>
  </div>
</div>
