<div [dir]="isAr ? 'rtl' : 'ltr'">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37] font-[600] mb-4 text-lg sm:text-xl">
      {{ 'CANCEL_LEAVE_REQUEST_PAGE.LEAVE_REQUEST_DETAILS' | translate }}
    </h3>

    <div class="bg-[#f3f4f6] p-6 rounded-4xl">
      <div
        class="bg-white py-3 px-6 rounded-2xl flex justify-between items-start sm:items-center flex-col sm:flex-row gap-4"
      >
        <div class="flex items-center gap-2 flex-wrap">
          <span class="text-[14px] text-[#6c737f]">
            {{ 'CANCEL_LEAVE_REQUEST_PAGE.STATUS' | translate }}
          </span>
          <div
            [class]="
              getStatusClass(model.status) + ' px-2 rounded-full w-fit flex items-center gap-2'
            "
          >
            <span
              [class]="getStatusDotClass(model.status) + ' w-[10px] h-[10px] rounded-full block'"
            ></span>
            <span class="font-semibold text-sm">{{
              statusOptions[model.status - 1][optionLabel]
            }}</span>
          </div>
        </div>
        <div class="flex items-center gap-6 flex-wrap" *ngIf="model.actionDate">
          <div class="flex items-center gap-2">
            <span class="text-[14px] text-[#6c737f]">
              {{ 'CANCEL_LEAVE_REQUEST_PAGE.ACTION_DATE' | translate }}
            </span>
            <h5 class="text-[#161616] font-[600]">
              {{ model.actionDate | date: 'dd/MM/yyyy' }}
            </h5>
          </div>
        </div>
      </div>

      <div
        class="bg-white p-6 rounded-2xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-6"
      >
        <div>
          <span class="text-[14px] text-[#6c737f]">
            {{ 'CANCEL_LEAVE_REQUEST_PAGE.LEAVE_TYPE' | translate }}
          </span>
          <h5 class="text-[#161616] font-[600] mt-2">
            {{ model.leaveType?.[optionLabel] || '---' }}
          </h5>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">
            {{ 'CANCEL_LEAVE_REQUEST_PAGE.DATE_FROM' | translate }}
          </span>
          <h5 class="text-[#161616] font-[600] mt-2">
            {{ model.dateFrom | date: 'dd/MM/yyyy' }}
          </h5>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">
            {{ 'CANCEL_LEAVE_REQUEST_PAGE.DATE_TO' | translate }}
          </span>
          <h5 class="text-[#161616] font-[600] mt-2">
            {{ model.dateTo | date: 'dd/MM/yyyy' }}
          </h5>
        </div>
        <div class="lg:col-span-3">
          <span class="text-[14px] text-[#6c737f]">
            {{ 'CANCEL_LEAVE_REQUEST_PAGE.NOTES' | translate }}
          </span>
          <h5 class="text-[#161616] font-[600] mt-2">
            {{ model.note || '---' }}
          </h5>
        </div>
      </div>

      <div
        class="bg-white p-6 rounded-2xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8"
      >
        <div
          class="md:col-span-2 lg:col-span-3 pt-6 border-t border-[#d2d6db]"
          *ngIf="model.rejectionNote"
        >
          <span class="text-[14px] text-[#6c737f]">
            {{ 'CANCEL_LEAVE_REQUEST_PAGE.REJECTION_NOTE' | translate }}
          </span>
          <h5 class="text-[#161616] font-[600] mt-2">
            {{ model.rejectionNote }}
          </h5>
        </div>

        <div class="md:col-span-2 lg:col-span-3 pt-6 border-t border-[#d2d6db]" *ngIf="isEditMode">
          <label class="label">{{ 'CANCEL_LEAVE_REQUEST_PAGE.REJECTION_NOTE' | translate }}</label>
          <div class="relative w-full">
            <textarea
              class="h-24 block overflow-auto w-full rounded border border-[#9da4ae] px-4 py-3 focus:outline-none resize-none peer"
              cols="30"
              pTextarea
              [(ngModel)]="rejectionNote"
              [placeholder]="'CANCEL_LEAVE_REQUEST_PAGE.REJECTION_NOTE' | translate"
              rows="5"
            ></textarea>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
            ></span>
          </div>
        </div>
      </div>

      <div class="flex items-center gap-4 mt-8" *ngIf="isEditMode">
        <button class="btn black-btn" (click)="approve()">
          {{ 'CANCEL_LEAVE_REQUEST_PAGE.ACCEPT' | translate }}
        </button>
        <button class="btn red-btn" (click)="reject()">
          {{ 'CANCEL_LEAVE_REQUEST_PAGE.REJECT' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
