<div dir="rtl">
    <div class="p-6">
        <button class="block ms-auto">
            <i class="pi pi-times close-popup"></i>
        </button>
        <h3 class="text-[#1f2a37] font-[600] mb-4 text-lg sm:text-xl">
            بيانات طلب الاجازة
        </h3>

        <div class="bg-[#f3f4f6] p-6 rounded-4xl">
            <div
                class="bg-white py-3 px-6 rounded-2xl flex justify-between items-start sm:items-center  flex-col sm:flex-row gap-4">
                <div class="flex items-center gap-2 flex-wrap
">
                    <span class="text-[14px] text-[#6c737f]">
                        حالة الطلب
                    </span>
                    <div class="bg-[#1570ef] px-2 rounded-full w-fit flex items-center gap-2">
                        <span class="w-[10px] h-[10px] rounded-full bg-[#ffffff99] block"></span>
                        <span class="text-[#fff] font-semibold text-sm">جديد</span>
                    </div>
                    <div class="bg-[#067647] px-2 rounded-full w-fit flex items-center gap-2">
                        <span class="w-[10px] h-[10px] rounded-full bg-[#ffffff99] block"></span>
                        <span class="text-[#fff] font-semibold text-sm">مقبول</span>
                    </div>
                    <div class="bg-[#b54708] px-2 rounded-full w-fit flex items-center gap-2">
                        <span class="w-[10px] h-[10px] rounded-full bg-[#ffffff99] block"></span>
                        <span class="text-[#fff] font-semibold text-sm">مقبول من الموظف</span>
                    </div>
                    <div class="bg-[#d92d20] px-2 rounded-full w-fit flex items-center gap-2">
                        <span class="w-[10px] h-[10px] rounded-full bg-[#ffffff99] block"></span>
                        <span class="text-[#fff] font-semibold text-sm">مرفوض</span>
                    </div>
                </div>
                <div class="flex items-center gap-6 flex-wrap
">
                    <div class="flex items-center gap-2">
                        <span class="text-[14px] text-[#6c737f]">
                            تاريخ الرفض لطلب الالغاء
                        </span>
                        <h5 class="text-[#161616] font-[600]">
                            12/12/2024
                        </h5>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="text-[14px] text-[#6c737f]">
                            تاريخ قبول الادارة
                        </span>
                        <h5 class="text-[#161616] font-[600]">
                            12/12/2024
                        </h5>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="text-[14px] text-[#6c737f]">
                            تاريخ قبول الموارد البشرية
                        </span>
                        <h5 class="text-[#161616] font-[600]">
                            12/12/2024
                        </h5>
                    </div>
                    <div class="flex items-center gap-2">
                        <span class="text-[14px] text-[#6c737f]">
                            تاريخ قبول الموظف
                        </span>
                        <h5 class="text-[#161616] font-[600]">
                            12/12/2024
                        </h5>
                    </div>

                </div>
            </div>
            <div class="bg-white p-6 rounded-2xl grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-6">
                <div>
                    <span class="text-[14px] text-[#6c737f]">
                        نوع الاجازة
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        اجازة اعتيادي
                    </h5>
                </div>
                <div>
                    <span class="text-[14px] text-[#6c737f]">
                        تاريخ البداية
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        12/12/2024
                    </h5>
                </div>
                <div>
                    <span class="text-[14px] text-[#6c737f]">
                        تاريخ الانتهاء
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        12/12/2024
                    </h5>
                </div>
                <div>
                    <span class="text-[14px] text-[#6c737f]">
                        عدد أيام الاجازة
                    </span>
                    <div
                        class="rounded-full px-2 bg-[#f9fafb] border border-[#e5e7eb] w-fit mt-2 text-[#1f2a37] font-[500]">
                        5
                    </div>
                    <div
                        class="rounded-full px-2 bg-[#f9fafb] border border-[#b2ddff] w-fit mt-2 text-[#1849a9] font-[500]">
                        نصف يوم
                    </div>
                </div>
                <div class="lg:col-span-2">
                    <span class="text-[14px] text-[#6c737f]">
                        ملاحظات
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        محتوى الملاحظات تكون هنا
                    </h5>
                </div>

            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">

                <div>
                    <span class="text-[14px] text-[#6c737f]">
                        تاريخ بداية الغاء الأجازة
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        12/12/2024
                    </h5>
                </div>
                <div>
                    <span class="text-[14px] text-[#6c737f]">
                        تاريخ نهاية الغاء الأجازة
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        12/12/2024
                    </h5>
                </div>
                <div>
                    <span class="text-[14px] text-[#6c737f]">
                        عدد أيام الاجازة
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        <div
                            class="rounded-full px-2 bg-[#f9fafb] border border-[#e5e7eb] w-fit mt-2 text-[#1f2a37] font-[500]">
                            5
                        </div>
                        <div
                            class="rounded-full px-2 bg-[#f9fafb] border border-[#b2ddff] w-fit mt-2 text-[#1849a9] font-[500]">
                            نصف يوم
                        </div>
                    </h5>
                </div>
                <div class="md:col-span-2 lg:col-span-3">
                    <span class="text-[14px] text-[#6c737f]">
                        ملاحظات
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        ملاحظات
                    </h5>
                </div>
                <div class="md:col-span-2 lg:col-span-3 pt-6 border-t border-[#d2d6db]">
                    <span class="text-[14px] text-[#6c737f]">
                        ملاحظات الرفض
                    </span>
                    <h5 class="text-[#161616] font-[600] mt-2">
                        ملاحظات
                    </h5>
                </div>
                <div class="md:col-span-2 lg:col-span-3">
                    <label class="label" for="">ملاحظات</label>
                    <div class="relative w-full">
                        <textarea
                            class="h-24 block overflow-auto w-full rounded border border-[#9da4ae] px-4 py-2 px-4 py-3 focus:outline-none resize-none peer"
                            cols="30" pTextarea placeholder="ملاحظات" rows="5"></textarea>
                        <span
                            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"></span>
                    </div>
                </div>



            </div>


        </div>


    </div>
</div>